a {
    color: #1e3650;
}

.btn-primary {
    background: #1e3650;
    border-color: #0e2640;
}

.nav-pills .nav-link.active {
    background: #1e3650;
}

.legend {
    color: #777;
    margin: 3px 0;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
    font-size: 11px;
    text-transform: uppercase;
}

.btn-sm {
    font-size: 9px;
}

.select2 {
    min-width: 100%;
}

.line {
    height: 3px;
}

.pane {
    display: none;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-radius {
    border-radius: 0 !important;
}

#pointer {
    height: calc(100vh - 50px);
    margin: auto;
    background: #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scrollbar {
    height: calc(100vh - 50px);
    width: 50px;
    background: #333;
    position: absolute;
    z-index: 100;
    right: 0;
}

#pointer-buttons {
    position: absolute;
    margin-top: -42px;
    width: 100%;
    z-index: 110;
}

#pointer-buttons .btn {
    height: 50px;
}

#disconneced {
    position: absolute;
    top: 0;
    width: 100%;
    background: #ff6161;
    color: #fff;
    padding: 5px;
}

#disconneced a {
    color: #fff;
    font-weight: bold;
}

#nav {
    border-bottom: 2px solid #1e3650;
}
