.legend {
    color: #777;
    margin: 3px 0;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
    font-size: 11px;
    text-transform: uppercase;
}

.btn-sm {
    font-size: 9px;
}

.select2 {
    width: 100%;
}

.line {
    height: 3px;
}

.pane {
    display: none;
}

#pointer {
    height: 80vh;
    width: 95%;
    margin: auto;
    background: #ccc;
}

#scrollbar {
    height: 80vh;
    width: 50px;
    background: #333;
    position: absolute;
    z-index: 100;
    right: 0;
}

#disconneced {
    position: absolute;
    top: 0;
    width: 100%;
    background: #ff6161;
    color: #fff;
    padding: 5px;
}

#disconneced a {
    color: #fff;
    font-weight: bold;
}
